.blog__lists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px 30px;
}

.each-blog__container {
    border: solid 1px var(--theme-preference);
    background-color: var(--theme-preference);
    border-radius: 4px;
    box-shadow: var(--theme-box-shadow);
    padding: 0px 10px 20px;
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.each-blog__image {
    width: 100%;
    display: block;
    margin: auto;
    height: 100px;
    object-fit: cover;
}
.each-blog__title {
    color: #404042;
}
.each-blog__details {
    color: #525050;
}
.each-blog__option-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.each-blog__button__pop-up {
    position: absolute;
    width: 200px;
    box-shadow: var(--theme-box-shadow);
    right: 0;
}
.each-blog__button__pop-up__option {
    background: var(--theme-preference);
    color: var(--theme-body-text);
    width: 100%;
    padding: 5px;
    border: none;
    &:hover {
        cursor: pointer;
    }
}
.each-blog__button {
    transform: rotate(90deg);
    // margin-bottom: 10px;
    background: transparent;
    border: none;
    width: max-content;
    align-self: flex-end;
    position: relative;
}
